* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */

body {
    font-size: 14px;
    background-color: #F6F8FA;
}






/* header */

section img {
    line-height: 100%;
    vertical-align: middle;
}

#header-logo {
    padding: 20px 30px;
    background-color: white;
}

#titolo-logo {
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
    vertical-align: middle;
}

/* nav */

.container-nav {
    width: 80%;
    margin: 50px auto auto;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px 40px;
}

.button {
    padding: 4px;
    display: inline-block;
    border: solid 2px #43B0ED;
    border-radius: 5px;
}

#blue-bt {
    background-color: #43B0ED;
    color: white;
}

#grey-bt {
    color: #D1D2D3;
    border-color: #D1D2D3;
}

/* main */

.container-main {
    width: 80%;
    margin: 4px auto auto;
    background-color: white;
    padding: 15px 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.section-space {
    padding-top: 15px;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

.tasks {
    color: black;
    font-size: 15px;
    font-weight: 100;
    display: inline-block;
    padding: 15px;
}

.side-buttons {
    display: inline-block;
    font-size: 12px;
    background-color: orange;
    padding: 7px;
    border-radius: 8px;
}

.sb-blue {
    background-color: #4AA3EC;
}

.sb-purple {
    background-color: #9971DF;
}

.sb-green {
    background-color: #65C2A8;
}

.sb-pink {
    background-color: #D2679F;
}